<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/searchs">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<form action='/sort' method="POST" class="container sort-section">
  <div class="row justify-content-end">
    <div class="col-1">
      <select name="sort" class="form-select btn-outline-secondary m-3" ; type="submit"
        aria-label="Default select example">
        <option vaule="_id"> Sort </option>
        <option value="name">店名</option>
        <option value="category">類別</option>
        <option value="location">地區</option>
        <option value="rating">評分</option>
      </select>
    </div>
    <div class="col-1">
      <select name="order" class="btn-outline-secondary m-3">
        <option value="1" selected>正序</option>
        <option value="-1">反序</option>
      </select>
    </div>
    <div class="col-2">
      <button class="btn btn-secondary m-3 px-1">送出</button>
    </div>
  </div>
</form>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <a href="/restaurants/{{this._id}}/edit" class="badge badge-pill badge-light font-weight-normal"><i
                  class="fas fa-edit"></i></a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" style="display: inline;"><button
                  type="submit" class="btn btn-light p-0"><i class="fas fa-trash"></i></button></form>


            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>